footer(class="primary-footer | bg-neutral-800 padding-block-500")
    div(class="container")
        p(style="text-wrap: balance") we work for our mission to improve the whole world. thanks for visiting us.