header(class="primary-header | bg-primary-300 padding-block-300")
    div(class="container")
        div(class="flex-space-between")
            a(href="/")
                img(src="../../images/logo.png" alt="home")
            nav(class="primary-navigation")
                ul(role="list" class="nav-list")
                    li
                        a(href="/") HOME
                    li
                        a(href="/video/upload") UPLOAD
                    li
                        a(href="/search") SEARCH                    
                    if loggedIn
                        li
                            a(href="/user/edit") PROFILE EDIT
                        li
                            a(href="/user/logout") LOGOUT
                        li
                            a(href=`/user/profile/${user._id}`) #{user.realname}의 프로필
                    else
                        li
                            a(href="/join") JOIN
                        li
                            a(href="/login") LOGIN