extends main 

block content
    if errorMessage 
        span=errorMessage
    form(class="flow" style="--flow-spacer: 2rem;" method="post" enctype="multipart/form-data")
        label(for="video") upload video
        input(type="file" name="video" id="video" accept="video/*" )
        input(type="text" required placeholder="title" name="title" maxlength=80)
        input(type="text" required placeholder="description" name="description" minLength=20)
        input(type="text" required placeholder="hashtags, separate comma" name="hashtags")
        button(class="button") enter title