extends ../main 

block content 
    form(method="POST" class="flow" style="--flow-spacer: 1rem")
        if(errorMessage)
            span=errorMessage
        input(placeholder="old password" type="password" name="oldPassword")
        input(placeholder="new password" type="password" name="newPassword")
        input(placeholder="new password confirmation" type="password" name="newPasswordConfirmation")
        input(type="submit" class="button" value="change")