extends ../main 

block content 
    form(method="POST" class="flow" style="--flow-spacer: 1rem")
        input(value="old password" type="password" name="oldPassword")
        input(value="new password" type="password" name="newPassword")
        input(value="new password confirmation" type="password" name="newPasswordConfirmation")
        input(type="submit" class="button" value="change")