extends ../main

block content 
    div(class="flow")
        each video in user.videos
            li
                a(href=`/video/${video._id}`)=video.title
        else
            li no have videos
        a(href="/user/edit" class="button") Edit profile